.logo {
  float: left;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: -20px;
}

.logoText {
  float: left;
  height: 31px;
  color: #fff;
  text-align: center;
  margin: 16px 0 0 20px;
}

.history {
  float: right;
  height: 31px;
  color: #fff;
  text-align: center;
  margin: 16px -16px 0 20px;
}

.headerBox {
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  user-select: none;
}

.headerText {
  margin-top: -16px;
  font-size: 20px;
  cursor: pointer;
}

.motoru {
  width: 80px;
  display: flex;
  transition: 0.2s ease;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  align-items: center;
}

.motoru:hover{
  width: 100px;
}

@media screen and (max-width:400px) {
  .cardItem {
    margin-top: 30px;
    min-width: 300px;
    width: 85vw;
  }
}

@media screen and (min-width:400px) {
  .cardItem {
    margin-top: 30px;
    min-width: 350px;
    width: 60vw;
  }
}
